<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Persistent\Model\Session">
        <plugin name="generate_hashed_key_for_database"
                type="MageSuite\PersistentLogin\Plugin\Persistent\Model\Session\GenerateHashedKeyForDatabase"
                sortOrder="10"
        />
        <plugin name="generate_key_for_cookie"
                type="MageSuite\PersistentLogin\Plugin\Persistent\Model\Session\GenerateKeyForCookie"
                sortOrder="20"
        />
        <plugin name="load_session_using_hashed_key_from_cookie"
                type="MageSuite\PersistentLogin\Plugin\Persistent\Model\Session\LoadSessionUsingHashedKeyFromCookie"
                sortOrder="20"
        />
    </type>
</config>
