<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Persistent\Model\Session">
        <plugin name="set_frontend_cookie"
                type="MageSuite\PersistentLogin\Plugin\Persistent\Model\Session\SetFrontendCookie"
                sortOrder="10"
        />
    </type>

    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="reset_token_after_password_change"
                type="MageSuite\PersistentLogin\Plugin\Customer\Api\AccountManagementInterface\ResetTokenAfterPasswordChange"
                sortOrder="10"
        />
    </type>
</config>
